        <!-- Navbar  -->
        <nav class="navbar navbar-expand-lg fixed-top glass-navbar">
            <div class="container">
                <div class="profile">
                    <img class="me-2" onerror="this.onerror=null; this.src='https://placehold.co/50x50';"
                        src="img/pp.png">
                    <span class="first_name" style="color: white;">Rangga Dwi Saputra</span>
                </div>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0 align-items-center">
                        <li class="nav-item">
                            <a class="nav-link section-navigator active" aria-current="page" href="index.html#profil" data-translate="nav_about">Tentang Saya</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link section-navigator" href="index.html#pengalaman" data-translate="nav_experience">Pengalaman</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link section-navigator" href="projects.html" data-translate="nav_projects">Projek</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link section-navigator" href="index.html#documentation" data-translate="nav_certificates">Sertifikat</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link section-navigator" href="index.html#skill" data-translate="nav_skills">Skills</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link section-navigator" href="index.html#layanan" data-translate="nav_services">Layanan</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link section-navigator" href="index.html#sosmed" data-translate="nav_social">Sosial Media</a>
                        </li>
                        <li class="nav-item ms-lg-3 mt-2 mt-lg-0">
                            <button id="langSwitcherBtn" class="lang-toggle-btn" aria-label="Toggle language">
                                <span class="flag-icon">🇬🇧</span>
                                <span class="lang-label">EN</span>
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Navbar End -->
