        <!-- Navbar  -->
        <nav class="navbar navbar-expand-lg fixed-top glass-navbar">
            <div class="container">
                <div class="profile">
                    <img class="me-2" onerror="this.onerror=null; this.src='https://placehold.co/50x50';"
                        src="img/pp.png">
                    <span class="first_name" style="color: white;">Rangga Dwi Saputra</span>
                </div>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0 ">
                        <li class="nav-item">
                            <a class="nav-link section-navigator active" aria-current="page" href="index.html#profil">Tentang
                                Saya</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link section-navigator" href="index.html#pengalaman">Pengalaman</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link section-navigator" href="projects.html">Projek</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link section-navigator" href="index.html#documentation">Sertifikat</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link section-navigator" href="index.html#skill">Skills</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link section-navigator" href="index.html#layanan">Layanan</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link section-navigator" href="index.html#sosmed">Sosial Media</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Navbar End -->
