        <!-- Project -->
        <section id="projek">
            <div class="container">
                <!-- Judul section proyek -->
                <div class="section-title" data-aos="fade-down">
                    Proyek yang Saya Kembangkan
                </div>

                <div class="row gy-5">
                    <!-- Proyek 1: Help & Tech -->
                    <div class="col-md-6" data-aos="fade-in">
                        <div class="project-card">
                            <div class="project-picture-wrapper w-100">
                                <img class="project_picture user-generated-img"
                                    onerror="this.onerror=null; this.src='https://placehold.co/400x400';"
                                    src="img/helptech.png" alt="Help & Tech">
                            </div>
                            <div class="project-text">
                                <div class="project_name">Help & Tech</div>
                                <div class="project_desc desc-text">
                                    <p>Sosial media berisi konten untuk Mengoptimalkan manfaat teknologi sebagai website
                                        front end & mobile
                                        developer untuk meningkatkan kualitas pengalaman pengguna.</p>
                                </div>
                            </div>
                            <div class="d-flex gap-2 flex-wrap pb-4 px-3">
                                <a href="https://www.tiktok.com/@ranggad.s.id" data-aos="fade-right" href="image.html"
                                    class="project_url porto-btn-primary text-capitalize flex-fill text-center">Kunjungi
                                    Ruang</a>
                            </div>
                        </div>
                    </div>



                    <!-- Proyek 2: Lynk.id -->
                    <div class="col-md-6" data-aos="fade-in">
                        <div class="project-card">
                            <div class="project-picture-wrapper w-100">
                                <img class="project_picture user-generated-img"
                                    onerror="this.onerror=null; this.src='https://placehold.co/400x400';"
                                    src="img/lynkid.png" alt="Help & Tech">
                            </div>
                            <div class="project-text">
                                <div class="project_name">Lynk.id</div>
                                <div class="project_desc desc-text">
                                    <p>Menyediakan platform digital untuk memudahkan pengguna dalam
                                        mengelola dan berbagi product digital secara efisien.</p>
                                </div>
                            </div>
                            <div class="d-flex gap-2 flex-wrap pb-4 px-3">
                                <a href="https://lynk.id/adarangga" data-aos="fade-right" href="image.html"
                                    class="project_url porto-btn-primary text-capitalize flex-fill text-center">Kunjungi
                                    Toko</a>
                            </div>
                        </div>
                    </div>

                    <!-- Project 3: Buku -->
                    <div class="col-md-6" data-aos="fade-in">
                        <div class="project-card">
                            <!-- Wrapper untuk gambar proyek -->
                            <div class="project-picture-wrapper w-100">
                                <img class="project_picture user-generated-img"
                                    onerror="this.onerror=null; this.src='https://placehold.co/400x400';"
                                    src="img/Postingan 2.jpg" alt="Buku: Dimana Kebenaran Berada?">
                            </div>
                            <div class="project-text">
                                <div class="project_name">
                                    Buku: Dimana Kebenaran Berada? Entahlah akupun mencarinya
                                </div>
                                <div class="project_desc desc-text">
                                    <p>Buku ini berisi refleksi sederhana tentang pengembangan diri, ditujukan bagi
                                        siapa pun yang ingin memaknai ulang langkah hidupnya. Karena setiap perubahan
                                        besar selalu berawal dari keputusan kecil untuk melangkah.</p>
                                </div>
                                <a rel="nofollow" data-aos="fade-right" target="_blank"
                                    href="https://www.instagram.com/s/aGlnaGxpZ2h0OjE4MDQzODY4Nzc5ODE2NzU2?story_media_id=3444805780229460063_6827802392&amp;igsh=ZWc3bnlpczIxMzc2"
                                    class="project_url porto-btn-primary text-capitalize">Lihat Projek Saya</a>
                            </div>
                        </div>
                    </div>

                    <!-- Project 4:Product Design-->
                    <div class="col-md-6" data-aos="fade-in">
                        <div class="project-card">
                            <!-- Wrapper untuk gambar proyek -->
                            <div class="project-picture-wrapper w-100">
                                <img class="project_picture user-generated-img"
                                    onerror="this.onerror=null; this.src='https://placehold.co/400x400';"
                                    src="img/desains.png" alt="Buku: Dimana Kebenaran Berada?">
                            </div>
                            <div class="project-text">
                                <div class="project_name">
                                    Product Designs' Post
                                </div>
                                <div class="project_desc desc-text">
                                    <p>Fundamental yang saya pelajari membuka jalan untuk terus berkembang dan mencoba
                                        berbagai bentuk desain lainnya.Pengalaman mengembangkan project product design
                                        menjadi langkah berharga bagi saya.
                                    </p>
                                </div>
                                <a rel="nofollow" data-aos="fade-right" target="_blank"
                                    href="https://wa.me/6283153248283"
                                    class="project_url porto-btn-primary text-capitalize">Hubungi saya</a>
                            </div>
                        </div>
                    </div>
                    <!-- Project 4: Design END -->


                    <!-- Project 5: document-->
                    <div class="col-md-6" data-aos="fade-in">
                        <div class="project-card">
                            <!-- Wrapper untuk gambar proyek -->
                            <div class="project-picture-wrapper w-100">
                                <img class="project_picture user-generated-img"
                                    onerror="this.onerror=null; this.src='https://placehold.co/400x400';"
                                    src="img/docs.jpg" alt="Documentation Portofolio">
                            </div>
                            <div class="project-text">
                                <div class="project_name">
                                    Document & Data Controling
                                </div>
                                <div class="project_desc desc-text">
                                    <p>
                                        Pengelolaan dokumen secara rapi, terstruktur, dan akurat. Saya terbiasa
                                        menggunakan Microsoft Word, Excel, dan Collab untuk menyusun, memformat, serta
                                        memverifikasi dokumen agar mudah diakses dan dipahami.
                                    </p>

                                </div>
                                <a rel="nofollow" data-aos="fade-right" target="_blank"
                                    href="https://drive.google.com/drive/folders/18rUaDiaVle6UvCd-00S1ALlcVl_c0Vl8"
                                    class="project_url porto-btn-primary text-capitalize">Kunjungi Drive</a>
                            </div>
                        </div>
                    </div>

                    <!-- Project 6:Comng soon-->
                    <div class="col-md-6" data-aos="fade-in">
                        <div class="project-card">
                            <!-- Wrapper untuk gambar proyek -->
                            <div class="project-picture-wrapper w-100">
                                <img class="project_picture user-generated-img"
                                    onerror="this.onerror=null; this.src='https://placehold.co/400x400';"
                                    src="img/coming.webp" alt="coming soon">
                            </div>
                            <div class="project-text">
                                <div class="project_name">
                                    Another Project
                                </div>
                                <div class="project_desc desc-text">
                                    <p>Fokus saya adalah menghadirkan project dengan kualitas yang semakin optimal, dari
                                        segi tampilan hingga fungsionalitas.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Project 4 : coming soon END -->
                    <!-- Project 5:Locked-->
                    <!-- <div class="col-md-6" data-aos="fade-in">
                        <div class="project-card">
                            <div class="project-picture-wrapper w-100">
                                <img class="project_picture user-generated-img"
                                    onerror="this.onerror=null; this.src='https://placehold.co/400x400';"
                                    src="img/locked.png" alt="coming soon">
                            </div>
                            <div class="project-text">
                                <div class="project_name">
                                    Locked
                                </div>
                                <div class="project_desc desc-text">
                                    <p>Hire me to Unlocked my true potential.</p>
                                </div>
                            </div>
                        </div>
                    </div> -->

                </div>
            </div>
        </section>
