        <!-- Layanan -->
        <section id="layanan">
            <div class="container">
                <!-- Judul Bagian Layanan -->
                <div class="section-title" data-aos="fade-down">Layanan</div>

                <!-- Baris untuk kartu layanan -->
                <div class="row g-5 justify-content-center">

                    <!-- Kartu Layanan Virtual Assistance -->
                    <div class="col-6 col-lg-4">
                        <!-- col-6 berarti jadi 2 kolom dalam 1 baris, sedangkan col-4 berarti (12:4) ada 3 kolom dalam 1 baris -->
                        <div class="card-layanan" data-aos="flip-down">
                            <!-- Ikon layanan -->
                            <div class="icon-layanan">
                                <i class="fa-solid fa-headset"></i>
                            </div>
                            <!-- Nama layanan -->
                            <div class="service_name">Virtual Assistance</div>
                            <!-- Tombol untuk detail layanan -->
                            <div class="text-center">
                                <a rel="nofollow" target="_blank" href="https://wa.me/6283153248283"
                                    data-aos="fade-right"
                                    class="porto-btn-primary service_url text-capitalize">Selengkapnya</a>
                            </div>
                        </div>
                    </div>

                    <!-- Kartu Layanan Product Design -->
                    <div class="col-6 col-lg-4">
                        <div class="card-layanan" data-aos="flip-down">
                            <!-- Ikon layanan -->
                            <div class="icon-layanan">
                                <i class="fa-solid fa-pencil-ruler"></i>
                            </div>
                            <!-- Nama layanan -->
                            <div class="service_name">Design</div>
                            <!-- Tombol untuk detail layanan -->
                            <div class="text-center">
                                <a rel="nofollow" target="_blank" href="https://wa.me/6283153248283"
                                    data-aos="fade-right"
                                    class="porto-btn-primary service_url text-capitalize">Selengkapnya</a>
                            </div>
                        </div>
                    </div>
                    <!-- Kartu Layanan Website & APlikasi -->
                    <div class="col-6 col-lg-4">
                        <div class="card-layanan" data-aos="flip-down">
                            <!-- Ikon layanan -->
                            <div class="icon-layanan">
                                <i class="fa-solid fa-laptop-code"></i>
                            </div>
                            <!-- Nama layanan -->
                            <div class="service_name">Website & Aplikasi</div>
                            <!-- Tombol untuk detail layanan -->
                            <div class="text-center">
                                <a rel="nofollow" target="_blank" href="https://wa.me/6283153248283"
                                    data-aos="fade-right"
                                    class="porto-btn-primary service_url text-capitalize">Selengkapnya</a>
                            </div>
                        </div>
                    </div>
                    <!-- Kartu Layanan Content Creator -->
                    <div class="col-6 col-lg-4">
                        <div class="card-layanan" data-aos="flip-down">
                            <!-- Ikon layanan -->
                            <div class="icon-layanan">
                                <i class="fa-solid fa-pen-to-square"></i>
                            </div>
                            <!-- Nama layanan -->
                            <div class="service_name">Content Creator</div>
                            <!-- Tombol untuk detail layanan -->
                            <div class="text-center">
                                <a rel="nofollow" target="_blank" href="https://wa.me/6283153248283"
                                    data-aos="fade-right"
                                    class="porto-btn-primary service_url text-capitalize">Selengkapnya</a>
                            </div>
                        </div>
                    </div>

                    <!-- Kartu Layanan Email Management -->
                    <div class="col-6 col-lg-4">
                        <div class="card-layanan" data-aos="flip-down">
                            <!-- Ikon layanan -->
                            <div class="icon-layanan">
                                <i class="fa-solid fa-envelope-open-text"></i>
                            </div>
                            <!-- Nama layanan -->
                            <div class="service_name">Email Management</div>
                            <!-- Tombol untuk detail layanan -->
                            <div class="text-center">
                                <a rel="nofollow" href="email.html" data-aos="fade-right"
                                    class="porto-btn-primary service_url text-capitalize">Selengkapnya</a>
                            </div>
                        </div>
                    </div>

                    <!-- Kartu Layanan Coming Soon -->
                    <div class="col-6 col-lg-4">
                        <div class="card-layanan" data-aos="flip-down">
                            <!-- Ikon layanan -->
                            <div class="icon-layanan">
                                <i class="fa-solid fa-lightbulb"></i>
                            </div>
                            <!-- Nama layanan -->
                            <div class="service_name">Anda butuh apa?</div>
                            <!-- Tombol untuk detail layanan (tidak aktif untuk sementara) -->
                            <div class="text-center">
                                <a rel="nofollow" target="_blank" href="" data-aos="fade-right"
                                    class="porto-btn-primary service_url text-capitalize">Selengkapnya</a>
                            </div>
                        </div>
                    </div>

                </div> <!-- Akhir baris kartu layanan -->
            </div> <!-- Akhir container -->
        </section>

        <!-- Under maintenance  -->
        <section id="perbaikan">
            <div class="container">
                <div class="section-title" data-aos="fade-down">Dalam Perbaikan dan Perkembangan</div>
                <div class="text-center">
                    <div id="maintenanceMessage">
                        Mohon tunggu sebentar...</div>
                </div>
            </div>
        </section>
