        <!-- Skill -->
        <section id="skill">
            <div class="container">
                <!-- Judul Bagian Skill -->
                <div class="section-title" data-aos="fade-down">
                    Skill
                </div>

                <!-- Bagian Soft Skills -->
                <div class="card-skill" data-aos="flip-down">
                    <div class="row gy-4">
                        <!-- Judul Soft Skills -->
                        <div class="col-12 col-md-3">
                            <span class="skill-subtitle">Soft Skills</span>
                        </div>
                        <!-- Isi Soft Skills -->
                        <div class="col-12 col-md-9">
                            <div class="row g-3 soft_skill">
                                <div class="col-12 col-md-6">
                                    <div class="skill-item">Public Speaking</div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="skill-item">Master of Ceremony</div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="skill-item">Moderator of Event</div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="skill-item">Project and Team Management</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Bagian Hard Skills -->
                <div class="card-skill" data-aos="flip-down">
                    <div class="row gy-4">
                        <!-- Judul Hard Skills -->
                        <div class="col-12 col-md-3">
                            <span class="skill-subtitle">Hard Skills</span>
                        </div>
                        <!-- Isi Hard Skills -->
                        <div class="col-12 col-md-9">
                            <div class="row g-2 hard_skill">
                                <div class="col-12 col-md-6">
                                    <div class="skill-item">React</div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="skill-item">Vue</div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="skill-item">Flutter</div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="skill-item">Kotlin Entry Level</div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="skill-item">Notion Entry Level</div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="skill-item">English Intermediate Grade</div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="skill-item">Spreadsheet</div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="skill-item">Email Management</div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="skill-item">AI Prompt</div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="skill-item">Copywriting</div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="skill-item">Ready to Learn</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Bagian Software Skills -->
                <div class="card-skill" data-aos="flip-down">
                    <div class="row gy-4">
                        <!-- Judul Software Skills -->
                        <div class="col-12 col-md-3">
                            <span class="skill-subtitle">Software Skills</span>
                        </div>
                        <!-- Isi Software Skills -->
                        <div class="col-12 col-md-9">
                            <div class="row gy-1 hard_skill">
                                <!-- Figma Skill -->
                                <div class="col-6 col-md-3 software-skill-item">
                                    <figure>
                                        <i class="fa-brands fa-figma software_icon"></i>
                                        <figcaption>Figma</figcaption>
                                    </figure>
                                </div>
                                <!-- Canva Skill -->
                                <div class="col-6 col-md-3 software-skill-item">
                                    <figure>
                                        <i class="fa-solid fa-palette software_icon"></i>
                                        <figcaption>Canva</figcaption>
                                    </figure>
                                </div>
                                <!-- Microsoft Excel Skill -->
                                <div class="col-6 col-md-3 software-skill-item">
                                    <figure>
                                        <i class="fa-solid fa-file-excel software_icon"></i>
                                        <figcaption>Microsoft Excel</figcaption>
                                    </figure>
                                </div>
                                <!-- Microsoft Word Skill -->
                                <div class="col-6 col-md-3 software-skill-item">
                                    <figure>
                                        <i class="fa-solid fa-file-word software_icon"></i>
                                        <figcaption>Microsoft Word</figcaption>
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Skill End -->
