    <section id="sosmed">
        <div class="container">
            <!-- Judul Bagian Sosial Media -->
            <div class="section-title" data-aos="fade-down">Salam Kenal</div>

            <!-- Baris untuk ikon sosial media -->
            <div class="row justify-content-center gy-3">

                <!-- Ikon Instagram -->
                <div class="col-3 col-lg-1 text-center">
                    <a target="_blank" rel="nofollow"
                        href="https://www.instagram.com/ranggarangga1688/profilecard/?igsh=YzdiZGZoMXNsdmY2"
                        data-aos="fade-in">
                        <div class="sosmed-item">
                            <i class="fab fa-instagram"></i>
                        </div>
                    </a>
                </div>

                <!-- Ikon LinkedIn -->
                <div class="col-3 col-lg-1 text-center">
                    <a target="_blank" rel="nofollow" href="https://www.linkedin.com/in/rangga-dwi-saputra-860743284/"
                        data-aos="fade-in">
                        <div class="sosmed-item">
                            <i class="fab fa-linkedin"></i>
                        </div>
                    </a>
                </div>

                <!-- Ikon Gihub -->
                <div class="col-3 col-lg-1 text-center">
                    <a target="_blank" rel="nofollow" href="https://github.com/Putra1688" data-aos="fade-in">
                        <div class="sosmed-item">
                            <i class="fab fa-github"></i>
                        </div>
                    </a>
                </div>
                <!-- Ikon WhatssApp -->
                <div class="col-3 col-lg-1 text-center">
                    <a target="_blank" rel="nofollow" href="https://wa.me/6283153248283" data-aos="fade-in">
                        <div class="sosmed-item">
                            <i class="fab fa-whatsapp"></i>
                        </div>
                    </a>
                </div>

            </div> <!-- Akhir baris ikon sosial media -->
        </div> <!-- Akhir container -->
    </section>
